<html lang="en"><head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Expenses Tracker</title>
</head>

<body>

<nav>
    <ul>
        <li class="img"><img src="{% static 'images/dollar.png' %}"></li>
        <li><a href="/">Expenses Tracker</a></li>
        {% block profile %}
        {% endblock %}

    </ul>
</nav>
{% block content %}
{% endblock %}



<footer>
    <div>Python Web Basics Exam Preparation @SoftUni</div>
</footer>
</body>
</html>